
.error {
    color: red;
}
.input-group-text {
    width: 140px;
}

.input-group{
    width: 94%;
}

.mb-3 {
    margin: 15px;
}

.modal-buttons {
    padding: 15px;
}

.register-block{
    width: 600px;
    margin: auto;
    margin-top: 10%;
}

.customer-create-slider{

}
.create-customer-button{
    background-color: white;
}

.btn-add{
    width: auto;
    float: right;
}

.dropdown-toggle {
    width: -moz-available;
}

.user {
    margin: auto;
}
.modal-body {
    size: inherit;
}

.panel .panel-heading i{
    width: auto;
}

.dropdown-left{
    float: right;
    width: auto;
}

.customer-page {
    display: flex;
}