<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Customer-create</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" href="css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="css/themify-icons.css" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" href="css/nice-select.css" th:href="@{/css/nice-select.css}">
	<link rel="stylesheet" href="css/flaticon.css" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" href="css/gijgo.css" th:href="@{/css/gijgo.css}">
	<link rel="stylesheet" href="css/animate.css" th:href="@{/css/animate.css}">
	<link rel="stylesheet" href="css/slicknav.css" th:href="@{/css/slicknav.css}">
	<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
	<link href="../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/x-icon"/>

	<!--	<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">-->
	<!--	<link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet"/>-->
	<!--	<link href="../static/font-awesome.min.css" th:href="@{/font-awesome.min.css}" rel="stylesheet"/>-->
	<!--	<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">-->


</head>
<body>
<header>
	<div class="header-area ">
		<div class="header-top_area d-none d-lg-block">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-4 col-lg-4">
						<div class="logo">
							<a href="index.html" th:href="@{/}">
								<img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-8 col-md-8">
						<div class="header_right d-flex align-items-center">
							<div class="short_contact_list">
								<ul>
									<li><a> <i class="fa fa-envelope"></i>deliverIt@totalynotfakemail.com</a></li>
									<li><a> <i class="fa fa-phone"></i> 555-666-777</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</header>
<div class="slider_area customer-create-slider">
	<div class="single_slider  d-flex align-items-center slider_bg_1">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-8">
					<div class="slider_text text-center justify-content-center">
						<div class="register-block">
							<form action="#" th:action="@{/customer/create}" th:object="${customer}" method="post"
							      autocomplete="off">
								<div class="mt-10">
									<input type="text" th:field="*{firstName}" name="first_name"
									       placeholder="First Name"
									       onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
									       class="single-input">
									<label class="error" th:errors="*{firstName}">FirstName error</label>
								</div>
								<div class="mt-10">
									<input type="text" th:field="*{lastName}" name="last_name" placeholder="Last Name"
									       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
									       class="single-input">
									<label class="error" th:errors="*{lastName}">LastName error</label>
								</div>
								<div class="mt-10">
									<input type="text" th:field="*{email}" name="email" placeholder="Email address"
									       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
									       class="single-input">
									<label class="error" th:errors="*{email}">Email error</label>
								</div>
								<div class="mt-10">
									<input type="text" th:field="*{username}" placeholder="Username"
									       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'"
									       class="single-input" autocomplete="off">
									<label class="error" th:errors="*{username}">Username error</label>
								</div>
								<div class="mt-10">
									<input type="password" th:field="*{password}" placeholder="Password"
									       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"
									       class="single-input" autocomplete="off">
									<label class="error" th:errors="*{password}">Password error</label>
								</div>

								<div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
									<input type="text" th:field="*{streetAddress}" name="address"
									       placeholder="StreetAddress"
									       onfocus="this.placeholder = ''"
									       onblur="this.placeholder = 'StreetAddress'" class="single-input">
									<label class="error" th:errors="*{streetAddress}">StreetAddress error</label>
								</div>
								<div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
									<div class="form-select">
										<select th:field="*{city}">
											<option th:each="city : ${cities}"
											        th:value="${city.getId()}"
											        th:text="${city.getName()}">
												city
											</option>
										</select>
									</div>
									<label class="error" th:errors="*{city}">city error</label>
								</div>
								<div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
									<div class="form-select">
										<select th:field="*{country}">
											<option th:each="country : ${countries}"
											        th:value="${country.getId()}"
											        th:text="${country.getName()}">
												country
											</option>
										</select>
									</div>
									<label class="error" th:errors="*{country}">country error</label>
								</div>
								<div>
									<label class="error" th:text="${error}">runtimeError</label>
								</div>
								<div class="modal-buttons">
									<div class="book_btn d-none d-lg-block">
										<button type="submit" class="boxed-btn3" href="#">Submit</button>
										<a type="submit" class="boxed-btn3" href="#" th:href="@{/}">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="counter_area">
	<div class="container">
		<div class="offcan_bg">
			<div class="row">
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${warehouseAmount}">22</span></h3>
						<p>Warehouses</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${shipmentsAmount}">97</span></h3>
						<p>Successful Shipments</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${customersAmount}">2342</span></h3>
						<p>Happy Client</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${parcelsAmount}">3245</span></h3>
						<p>Parcels delivered</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<script src="js/vendor/modernizr-3.5.0.min.js" th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<script src="js/ajax-form.js" th:src="@{/js/ajax-form.js}"></script>
<script src="js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<script src="js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script src="js/scrollIt.js" th:src="@{/js/scrollIt.js}"></script>
<script src="js/jquery.scrollUp.min.js" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script src="js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="js/nice-select.min.js" th:src="@{/js/nice-select.min.js}"></script>
<script src="js/jquery.slicknav.min.js" th:src="@{/js/jquery.slicknav.min.js}"></script>
<script src="js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script src="js/plugins.js" th:src="@{/js/plugins.js}"></script>
<script src="js/gijgo.min.js" th:src="@{/js/gijgo.min.js}"></script>

<!--contact js-->
<script src="js/contact.js" th:src="@{/js/contact.js}"></script>
<script src="js/jquery.ajaxchimp.min.js" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script src="js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
<script src="js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
<script src="js/mail-script.js" th:src="@{/js/mail-script.js}"></script>

<script src="js/main.js" th:src="@{/js/main.js}"></script>
<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
</script>
</body>
</html>