<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>DeliverIt</title>
</head>
<body>

<h2>
	<a href="#" th:href="@{/warehouse}" th:text="#{navigation.all-warehouses}">Browse all warehouses</a>
</h2>
<h3 th:text="#{customers-amount} + ${amount}" >Nobody likes us</h3>
</body>
</html>