<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>DeliverIt</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" href="css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="css/themify-icons.css" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" href="css/nice-select.css" th:href="@{/css/nice-select.css}">
	<link rel="stylesheet" href="css/flaticon.css" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" href="css/gijgo.css" th:href="@{/css/gijgo.css}">
	<link rel="stylesheet" href="css/animate.css" th:href="@{/css/animate.css}">
	<link rel="stylesheet" href="css/slicknav.css" th:href="@{/css/slicknav.css}">
	<!--	<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">-->


	<link href="../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/x-icon"/>

	<!--	<link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet"/>-->
	<!--	<link href="../static/font-awesome.min.css" th:href="@{/font-awesome.min.css}" rel="stylesheet"/>-->
	<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
	<!--	<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">-->

</head>

<body>

<!-- header-start -->
<header>
	<div class="header-area ">
		<div class="header-top_area d-none d-lg-block">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-4 col-lg-4">
						<div class="logo">
							<a href="index.html" th:href="@{/}">
								<img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-8 col-md-8">
						<div class="header_right d-flex align-items-center">
							<div class="short_contact_list">
								<ul>
									<li><a> <i class="fa fa-envelope"></i>deliverIt@totalynotfakemail.com</a></li>
									<li><a> <i class="fa fa-phone"></i> 555-666-777</a></li>
								</ul>
							</div>

							<div class="book_btn d-none d-lg-block" style="margin-right: 10px">
								<a class="boxed-btn3-line"
								   href="#" th:href="@{/authenticate}">LogIn</a>
							</div>
							<div class="book_btn d-none d-lg-block">
								<a class="boxed-btn3-line"
								   href="#" th:href="@{/customer/create}">Register</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
	<div class="single_slider  d-flex align-items-center slider_bg_1">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-8">
					<div class="slider_text text-center justify-content-center">
						<p>You order it, we Deliver It</p>
						<h3>Present in five different countries</h3>
						<a class="boxed-btn3" data-toggle="modal" data-target="#exampleModalCenter" href="#">Our
							Warehouses</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider_area_end -->

<!-- counter_area  -->
<div class="counter_area">
	<div class="container">
		<div class="offcan_bg">
			<div class="row">
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${warehouseAmount}">22</span></h3>
						<p>Warehouses</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${shipmentsAmount}">97</span></h3>
						<p>Successful Shipments</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${customersAmount}">2342</span></h3>
						<p>Happy Client</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-3">
					<div class="single_counter text-center">
						<h3><span class="counter" th:text="${parcelsAmount}">3245</span></h3>
						<p>Parcels delivered</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /counter_area  -->


<!-- Modal -->
<div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="serch_form">
				<table class="table table-striped">
					<thead>
					<tr>

						<th scope="col" th:text="#{warehouse.label-country}">Country</th>
						<th scope="col" th:text="#{warehouse.label-city}">City</th>
						<th scope="col" th:text="#{warehouse.label-street}">Street</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="warehouse : ${warehouses}">

						<td th:text="${warehouse.getAddress().getCity().getCountryName()}">Mark</td>
						<td th:text="${warehouse.getAddress().getCityName()}">Otto</td>
						<td th:text="${warehouse.getAddress().getStreetAddress()}">@mdo</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade custom_search_pop" id="exampleModalCenter1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon7">Username</span>
				<input type="text" class="form-control" placeholder="Username" aria-label="Username"
				       aria-describedby="basic-addon1">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon8">Password</span>
				<input type="text" class="form-control" placeholder="Password" aria-label="password"
				       aria-describedby="basic-addon2">
			</div>
			<div class="modal-buttons">
				<div class="book_btn d-none d-lg-block">
					<a type="submit" class="boxed-btn3" href="#">Login</a>
					<a type="submit" class="boxed-btn3" href="#" th:href="@{/}">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<script src="js/vendor/modernizr-3.5.0.min.js" th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<script src="js/ajax-form.js" th:src="@{/js/ajax-form.js}"></script>
<script src="js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<script src="js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script src="js/scrollIt.js" th:src="@{/js/scrollIt.js}"></script>
<script src="js/jquery.scrollUp.min.js" th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script src="js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="js/nice-select.min.js" th:src="@{/js/nice-select.min.js}"></script>
<script src="js/jquery.slicknav.min.js" th:src="@{/js/jquery.slicknav.min.js}"></script>
<script src="js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script src="js/plugins.js" th:src="@{/js/plugins.js}"></script>
<script src="js/gijgo.min.js" th:src="@{/js/gijgo.min.js}"></script>

<!--contact js-->
<script src="js/contact.js" th:src="@{/js/contact.js}"></script>
<script src="js/jquery.ajaxchimp.min.js" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script src="js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
<script src="js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
<script src="js/mail-script.js" th:src="@{/js/mail-script.js}"></script>

<script src="js/main.js" th:src="@{/js/main.js}"></script>
<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
</script>

</body>

</html>