<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>



	<link href="../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/x-icon"/>
	<link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/font-awesome.min.css" th:href="@{/font-awesome.min.css}" rel="stylesheet"/>
	<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
	<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">


</head>
<body>
<header>
	<div class="header-area ">
		<div class="header-top_area d-none d-lg-block">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-4 col-lg-4">
						<div class="logo">
							<a href="index.html" th:href="@{/}">
								<img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="">
							</a>
						</div>
					</div>
					<div class="col-xl-8 col-md-8">
						<div class="header_right d-flex align-items-center">
							<div class="short_contact_list">
								<ul>
									<li><a> <i class="fa fa-envelope"></i>deliverIt@totalynotfakemail.com</a></li>
									<li><a> <i class="fa fa-phone"></i> 555-666-777</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</header>
<div class="slider_area customer-create-slider">
	<div class="single_slider  d-flex align-items-center slider_bg_1">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-8">
					<div class="slider_text text-center justify-content-center">
						<div class="register-block">
							<form action="#" th:action="@{/authenticate/}" th:object="${user}" method="post">

								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Username</span>
									<input type="text" class="form-control" th:field="*{username}"
									       placeholder="Username"
									       aria-label="Username"
									       aria-describedby="basic-addon1">
									<label class="error" th:errors="*{username}">Username error</label>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon2">Password</span>
									<input type="password" class="form-control" th:field="*{password}"
									       placeholder="Password" aria-label="Password"
									       aria-describedby="basic-addon2">
									<label class="error" th:errors="*{password}">password error</label>
								</div>


								<label class="error" th:text="${error}">runtimeError</label>

								<div class="modal-buttons">
									<div class="book_btn d-none d-lg-block">
										<button type="submit" class="boxed-btn3" href="#">Login</button>
										<a type="submit" class="boxed-btn3" href="#" th:href="@{/}">Cancel</a>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>