<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcels</title>
    <link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/elegant-icons-style.css"
          th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
          type="text/css" rel="stylesheet">
    <link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
          th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
          rel=" stylesheet">
    <link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
          th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
    <link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">
</head>
<body>
<header class="header dark-bg">
    <!--logo start-->
    <a href="warehouses.html.html" th:href="@{/warehouses}" class="logo">Deliver <span class="lite">IT</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

            <!-- task notificatoin start -->

            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->

            <!-- inbox notificatoin end -->
            <!-- alert notification start-->

            <!-- alert notification end-->
            <!-- user login dropdown start-->
            <a class="user" href="#" th:href="@{/employee/{id}(id=${user.getId()})}"
               th:text="${user.getFirstName() + ' ' + user.getLastName()}">Jenifer Smith</a>
            <td><a class="btn btn-default btn-sm" href="#" th:href="@{/authenticate/logout}"
                   title="Bootstrap 3 themes generator">Logout</a></td>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>

</header>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">


            <li class="sub-menu">
                <a href="warehouses.html" th:href="@{/warehouses}" class="">
                    <i class="icon_table"></i>
                    <span>Warehouses</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="warehouses.html">Warehouses</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="shipments.html" th:href="@{/shipments}" class="">
                    <i class="icon_table"></i>
                    <span>Shipments</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="shipments.html">Shipments</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="parcels.html" th:href="@{/parcels}" class="">
                    <i class="icon_table"></i>
                    <span>Parcels</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="parcels.html">Parcels</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="customers.html" th:href="@{/customers}" class="">
                    <i class="icon_table"></i>
                    <span>Customers</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="customers.html">Customers</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-cloud-download"></i>
                    <div class="count" th:text="${warehouseAmount}">6.674</div>
                    <div class="title">Warehouses</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="count" th:text="${shipmentsAmount}">7.538</div>
                    <div class="title">Shipments</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->


            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count" th:text="${customersAmount}">4.362</div>
                    <div class="title">Customers</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div class="count" th:text="${parcelsAmount}">1.426</div>
                    <div class="title">Parcels</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <div class="row">
            <table>
                <tr>
                    <th>
                        <form class="navbar-form" th:action="@{/parcels/search}" method="post">

<!--                            <input class="form-control" placeholder="SearchWarehouseId" type="text" th:name="warehouseId">-->

                            <div class="form-group " >
                                <div class="col-lg-10">
                                    <select class="form-control tooltips" id="warehouseId" th:name="warehouseId"
                                            data-placement="left"
                                            data-original-title="Choose Warehouse">
                                        <option value="" selected disabled hidden>Choose warehouse</option>
                                        <option th:each="warehouse : ${warehouseList}"
                                                th:value="${warehouse.getId()}"
                                                th:text="${warehouse.getId()} + '. ' + ${warehouse.getAddress().getCityName()} ">
                                            warehouse
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group " >
                                <div class="col-lg-10">
                                    <select class="form-control tooltips" id="categoryId" th:name="categoryId"
                                            data-placement="left"
                                            data-original-title="Choose Category">
                                        <option value="" selected disabled hidden>Choose category</option>
                                        <option th:each="category : ${categoryList}"
                                                th:value="${category.getId()}"
                                                th:text="${category.getId()} + '. ' + ${category.getCategory()} ">
                                            category
                                        </option>
                                    </select>
                                </div>
                            </div>

<!--                            <input class="form-control" placeholder="SearchCategoryId" type="text" th:name="categoryId">-->
                            <input class="form-control" placeholder="SearchMinWeight" type="text" th:name="minWeight">
                            <input class="form-control" placeholder="SearchMaxWeight" type="text" th:name="maxWeight">
                            <button type="submit" class="btn btn-info" href=""><span
                                    class="icon_house_alt"></span>Search
                            </button>
                        </form>
                    </th>
                </tr>
            </table>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Parcels Table
                        <a class="btn btn-primary btn-add tooltips" href="#" th:href="@{/parcels/create}"
                           data-placement="left" data-original-title="Create New Parcel"><i class="icon_pencil"></i></a>

                        <table class="table table-striped table-advance table-hover">
                            <tbody>
                            <tr>
                                <th><i class="icon_bag"></i> ID</th>
                                <th><i class="icon_profile"></i> Customer</th>
                                <th><i class="icon_building"></i> WarehouseTo</th>
                                <th><i class="icon_bag"></i> ShipmentStatus</th>
                                <th><i class="icon_clipboard"></i> Category</th>
                                <th>
                                    <i class="icon_gift"></i>Weight<a class="caret" href="#" th:href="@{/parcels/sort/weight}"></a></th>
                                <th><i class="icon_cogs"></i> Action</th>
                            </tr>
                            <tr th:each="parcel : ${parcels}">
                                <td>
                                    <a href="#" th:href="@{/parcels/{id}(id=${parcel.getId()})}"
                                       th:text="${parcel.getId()}">Id</a></td>
                                <td>
                                    <a href="#" th:href="@{/customers/{id}(id=${parcel.getCustomer().getId()})}"
                                       th:text="${parcel.getCustomer().getFirstName() + ' ' + parcel.getCustomer().getLastName()}">
                                        CustomerID</a></td>
                                <td><a href="#" th:href="@{/warehouses/{id}(id=${parcel.getWarehouse().getId()})}"
                                       th:text="${parcel.getWarehouse().getAddress().getCityName()}">WarehouseId</a>
                                </td>
                                <td th:unless="${parcel.getShipment() == null}"
                                    th:text="${parcel.getShipment().getStatus()}">Status
                                </td>
                                <td th:if="${parcel.getShipment() == null}" th:text="#{parcel.list-noShipments}">
                                    Status
                                </td>
                                <td th:text="${parcel.getCategory().getCategory()}">Category</td>
                                <td th:text="${parcel.getWeight()}">Weight</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-success tooltips" data-placement="left"
                                           data-original-title="Edit Parcel" href="#"
                                           th:href="@{parcels/{id}(id=${parcel.getId()})}"><i
                                                class="icon_folder"></i></a>
                                        <a class="btn btn-danger tooltips" data-placement="right"
                                           data-original-title="Delete parcel"
                                           href="#" th:href="@{parcels/delete/{id}(id=${parcel.getId()})}"
                                           onclick="return confirm('Are you sure you want to delete')">
                                            <i class="icon_trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
					</header>
                </section>
            </div>
        </div>
    </section>

</section>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>
<script src="../static/Theme2static/js/scripts.js" th:src="@{/Theme2static/js/scripts.js}"></script>
</body>
</html>


