<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/elegant-icons-style.css"
          th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
          type="text/css" rel="stylesheet">
    <link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
          th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
          rel=" stylesheet">
    <link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
          th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
    <link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">
</head>
<body>
<header class="header dark-bg">
    <!--logo start-->
    <a href="warehouses.html.html" th:href="@{/warehouses}" class="logo">Deliver <span class="lite">IT</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

            <!-- task notificatoin start -->

            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->

            <!-- inbox notificatoin end -->
            <!-- alert notification start-->

            <!-- alert notification end-->
            <!-- user login dropdown start-->

            <a class="user" href="#" th:href="@{/employee/{id}(id=${user.getId()})}"
               th:text="${user.getFirstName() + ' ' + user.getLastName()}">Jenifer Smith</a>
            <td><a class="btn btn-default btn-sm" href="#" th:href="@{/authenticate/logout}" title="Bootstrap 3 themes generator">Logout</a></td>

            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>

</header>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">


            <li class="sub-menu">
                <a href="warehouses.html" th:href="@{/warehouses}" class="">
                    <i class="icon_table"></i>
                    <span>Warehouses</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="warehouses.html">Warehouses</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="shipments.html" th:href="@{/shipments}" class="">
                    <i class="icon_table"></i>
                    <span>Shipments</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="shipments.html">Shipments</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="parcels.html" th:href="@{/parcels}" class="">
                    <i class="icon_table"></i>
                    <span>Parcels</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="parcels.html">Parcels</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="customers.html" th:href="@{/customers}" class="">
                    <i class="icon_table"></i>
                    <span>Customers</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="customers.html">Customers</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-cloud-download"></i>
                    <div class="count" th:text="${warehouseAmount}">6.674</div>
                    <div class="title">Warehouses</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="count" th:text="${shipmentsAmount}">7.538</div>
                    <div class="title">Shipments</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->


            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count" th:text="${customersAmount}">4.362</div>
                    <div class="title">Customers</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div class="count" th:text="${parcelsAmount}">1.426</div>
                    <div class="title">Parcels</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Form validations
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="form-validate form-horizontal" id="feedback_form" th:object="${parcelDto}" method="post" action="">

                                <div class="form-group " >
                                    <label for="cname" class="control-label col-lg-2">Customer <span class="required"></span></label>
                                    <div class="col-lg-10">
                                        <select class="form-control tooltips" id="parcel-field"
                                                th:field="*{customerId}" data-placement="left"
                                                data-original-title="Choose Customer">
                                            <option th:each="customer : ${customerList}"
                                                    th:value="${customer.getId()}"
                                                    th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}  ">
                                                customer
                                            </option>
                                        </select>
                                        <label class="error" th:errors="*{customerId}">CustomerNameError</label>
                                    </div>
                                </div>

                                <div class="form-group " >
                                    <label for="cname" class="control-label col-lg-2">Warehouse <span class="required"></span></label>
                                    <div class="col-lg-10">
                                        <select class="form-control tooltips" id="parcel-field2"
                                                th:field="*{warehouseId}" data-placement="left"
                                                data-original-title="Choose Warehouse">
                                            <option th:each="warehouse : ${warehouseList}"
                                                    th:value="${warehouse.getId()}"
                                                    th:text="${warehouse.getAddress().getCity().getCountryName()} + ' ,' + ${warehouse.getAddress().getCityName()} +' ,' + ${warehouse.getAddress().getStreetAddress()} ">
                                                warehouse
                                            </option>
                                        </select>
                                        <label class="error" th:errors="*{warehouseId}">WarehouseNameError</label>
                                    </div>
                                </div>

                                <div class="form-group " >
                                    <label for="cname" class="control-label col-lg-2">Category <span class="required"></span></label>
                                    <div class="col-lg-10">
                                        <select class="form-control tooltips" id="parcel-field3"
                                                th:field="*{categoryId}" data-placement="left"
                                                data-original-title="Choose Category">
                                            <option th:each="category : ${categoryList}"
                                                    th:value="${category.getId()}"
                                                    th:text="${category.getCategory()} ">
                                                category
                                            </option>
                                        </select>
                                        <label class="error" th:errors="*{categoryId}">CategoryNameError</label>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="cname" class="control-label col-lg-2">Weight <span class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cname" name="weight"  type="text" th:field="*{weight}"/>
                                        <label class="error" th:errors="*{weight}">WeightError</label>
                                    </div>
                                </div>
                                <label class="error" th:text="${error}"></label>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>

</section>
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warehouse</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete Customer?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-warning" type="button"> Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>

</body>

</html>