<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shipment-create</title>
	<link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
	      rel="stylesheet">
	<link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
	      rel="stylesheet">
	<link href="../static/Theme2static/css/elegant-icons-style.css"
	      th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
	<link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
	      rel="stylesheet"/>
	<link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
	      th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
	<link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
	      th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
	<link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
	      th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
	      type="text/css" media="screen"/>
	<link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
	      type="text/css" rel="stylesheet">
	<link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
	      th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
	<link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
	      rel="stylesheet">
	<link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
	<link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
	<link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
	      rel="stylesheet"/>
	<link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
	      rel=" stylesheet">
	<link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
	      th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
	<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">
</head>
<body>
<header class="header dark-bg">
	<!--logo start-->
	<a href="warehouses.html.html" th:href="@{/warehouses}" class="logo">Deliver <span class="lite">IT</span></a>
	<!--logo end-->

	<div class="top-nav notification-row">

		<ul class="nav pull-right top-menu">


			<a class="user" href="#" th:href="@{/employee/{id}(id=${user.getId()})}"
			   th:text="${user.getFirstName() + ' ' + user.getLastName()}">Jenifer Smith</a>
			<td><a class="btn btn-default btn-sm" href="#" th:href="@{/authenticate/logout}"
			       title="Bootstrap 3 themes generator">Logout</a></td>

		</ul>
		<!-- notificatoin dropdown end-->
	</div>

</header>
<!--sidebar start-->
<aside>
	<div id="sidebar" class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu">


			<li class="sub-menu">
				<a href="warehouses.html" th:href="@{/warehouses}" class="">
					<i class="icon_table"></i>
					<span>Warehouses</span>
					<span class="menu-arrow arrow_carrot-right"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="warehouses.html">Warehouses</a></li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="shipments.html" th:href="@{/shipments}" class="">
					<i class="icon_table"></i>
					<span>Shipments</span>
					<span class="menu-arrow arrow_carrot-right"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="shipments.html">Shipments</a></li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="parcels.html" th:href="@{/parcels}" class="">
					<i class="icon_table"></i>
					<span>Parcels</span>
					<span class="menu-arrow arrow_carrot-right"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="parcels.html">Parcels</a></li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="customers.html" th:href="@{/customers}" class="">
					<i class="icon_table"></i>
					<span>Customers</span>
					<span class="menu-arrow arrow_carrot-right"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="customers.html">Customers</a></li>
				</ul>
			</li>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
<!--sidebar end-->
<section id="main-content">
	<section class="wrapper">
		<!--overview start-->
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="info-box blue-bg">
					<i class="fa fa-cloud-download"></i>
					<div class="count" th:text="${warehouseAmount}">6.674</div>
					<div class="title">Warehouses</div>
				</div>
				<!--/.info-box-->
			</div>
			<!--/.col-->
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="info-box brown-bg">
					<i class="fa fa-shopping-cart"></i>
					<div class="count" th:text="${shipmentsAmount}">7.538</div>
					<div class="title">Shipments</div>
				</div>
				<!--/.info-box-->
			</div>
			<!--/.col-->


			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="info-box dark-bg">
					<i class="fa fa-thumbs-o-up"></i>
					<div class="count" th:text="${customersAmount}">4.362</div>
					<div class="title">Customers</div>
				</div>
				<!--/.info-box-->
			</div>
			<!--/.col-->

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="info-box green-bg">
					<i class="fa fa-cubes"></i>
					<div class="count" th:text="${parcelsAmount}">1.426</div>
					<div class="title">Parcels</div>
				</div>
				<!--/.info-box-->
			</div>
			<!--/.col-->
		</div>
		<!--/.row-->
		<!-- Form validations -->
		<div class="row">
			<div class="col-lg-12">
				<section class="panel">
					<header class="panel-heading">
						Form validations
					</header>
					<div class="panel-body">
						<div class="form">
							<form class="form-validate form-horizontal" id="feedback_form"
							      th:object="${shipmentDto}" method="post" action="">
								<div class="form-group ">
									<label for="cname" class="control-label col-lg-2">DepartureDate <span
											class="required"></span></label>
									<div class="col-lg-10">
										<input class="form-control" id="cname" name="departureDate" type="date"
										       th:field="*{departureDate}"/>
										<label class="error" th:errors="*{departureDate}">DepartureDate</label>
									</div>
								</div>
								<div class="form-group ">
									<label for="cemail" class="control-label col-lg-2">ArrivalDate <span
											class="required"></span></label>
									<div class="col-lg-10">
										<input class="form-control " id="cemail" name="arrivalDate" type="date"
										       th:field="*{arrivalDate}"/>
										<label class="error" th:errors="*{arrivalDate}">ArrivalDate</label>
									</div>
								</div>
								<div class="form-group ">
									<label for="parcel-field" class="control-label col-lg-2">WarehouseTo</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15 tooltips" id="parcel-field" th:field="*{warehouseToId}" data-placement="left" data-original-title="Possible warehouses">
											<option th:each="warehouse : ${warehouses}"
											        th:value="${warehouse.getId()}"
											        th:text="${warehouse.getAddress().getCity().getCountryName()} + ';  ' + ${warehouse.getAddress().getCityName()} + ';  ' + ${warehouse.getAddress().getStreetAddress()}">
												Warehouse
											</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<button class="btn btn-primary" type="submit">Create</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</section>
			</div>
		</div>
		</div>
	</section>
</section>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>
<script src="../static/Theme2static/js/scripts.js" th:src="@{/Theme2static/js/scripts.js}"></script>

</body>

</html>